* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	display: flex;
	flex-direction: column;
	flex: 1;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 14px;
}

ul,
li {
	list-style: none;
}
